@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  /* height: 1024px; */
  height: auto;
}
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececed;
  width: 100%;
  height: 66px;
  justify-content: space-between;
  border-bottom-width: 1px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}
.header-content {
  width: 1392px;
  height: 34px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 116px;
  height: 32px;
}
.logo-icon {
  width: 23.35px;
  height: 32.66px;
  top: -0.33px;
  left: -0.33px;
}
.logo-text {
  width: 13.77px;
  height: 12.87px;
  color: #000040;
}
.icon {
  display: flex;
  align-items: center;
  width: 199px;
  height: 34px;
  gap: 16px;
}
.optima {
  display: flex;
  align-items: center;
  width: 111px;
  height: 32px;
  gap: 8px;
}
.status-indicator {
  width: 32px;
  height: 32px;
  border: 0.05px #dededf;
  border-radius: 5.33px;
}
.status-text {
  width: 71px;
  height: 16px;
  gap: 8px;
  align-items: center;
}
.lang-notify {
  display: flex;
  align-items: center;
  width: 56px;
  height: 24px;
  gap: 8px;
}
.language-icon {
  width: 24px;
  height: 24px;
  color: #c6c8ca;
}
.notification-icon {
  width: 24px;
  height: 24px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 68px;
  height: 960px;
  top: 66px;
  float: left;
  border-right: 1px #ececed;
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 24px;
  padding-left: 8px;
  gap: 16px;
  background-color: #b3b3e7;
}
.okha {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.page-header {
  color: #78797d;
  display: flex;
  justify-content: space-between;

  width: 1324px;
  height: 44px;
  top: 82px;
  left: 92px;
  padding-top: 16px;
}
.page-header h1 {
  width: 207px;
  height: 44px;
  font-family: Nunito Sans;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-wrap: nowrap;
}
.page-actions {
  display: flex;
  align-items: center;
  width: 141px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 10px;
  padding-right: 16px;
  padding-bottom: 10px;
  padding-left: 16px;
  gap: 8px;
}
.btn-secondary {
  display: flex;
  align-items: center;
  width: 81px;
  height: 20px;
  color: #64748b;
  border: none;
  font-size: 14px;
  font-weight: 400;
  background: white;
  gap: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 1324px;
  height: 706.5px;
  top: 158px;
  left: 92px;
  gap: 32px;
  padding-top: 42px;
}
.form-container {
  /* width: 1324px; */
  width: 100%;
  height: 418.5px;
  border-radius: 16px;
  border: 1px solid #ececed;
  gap: 10px;
  padding: 24px;
  background-color: #ffffff;
}
.inn {
  display: flex;
  flex-direction: column;
  width: 1276px;
  height: 370.5px;
  gap: 32px;
}
.form-title {
  width: 178px;
  height: 25px;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #646569;
}
.low {
  display: flex;
  flex-direction: column;
  width: 1276px;
  height: 313.5px;
  gap: 24.5px;
}
.form-grid {
  display: flex;
  width: 1276px;
  height: 60px;
  gap: 24px;
  background-color: #ffffff;
  /* padding: 10px; */
}
.form-group {
  background-color: #ffffff;
  width: 626px;
  height: 60px;
  gap: 4px;
}
.form-group label {
  display: flex;
  align-items: center;
  width: 626px;
  height: 16px;
  justify-content: space-between;
  padding-bottom: 8px;
}

.input-txt {
  display: flex;
  align-items: center;
  width: 626px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  gap: 12px;
}
.inp-text {
  color: #96989b;
  display: flex;
  width: 200px;
  border: none;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
#txt {
  justify-content: space-between;
}
.input-txts {
  display: flex;
  align-items: center;
  width: 203px;
  height: 40px;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
}

.whole {
  display: flex;
  gap: 8px;
}

.form-grid-num {
  display: flex;
  width: 1276px;
  height: 60px;
  transform: rotate(0deg);
  opacity: 1;
  gap: 24px;
}
.option {
  display: flex;
  width: 55px;
  height: 19px;
  transform: rotate(0deg);
  opacity: 1;
  gap: 6px;
  color: #c6c8ca;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  border: none;
}

.whole-num {
  display: flex;
  gap: 4px;
}
.input-number {
  display: flex;
  align-items: center;
  width: 309px;
  height: 40px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
}
.no-border {
  border: none;
  color: #96989b;
  width: 181px;
  height: 19px;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
}
.option-for {
  width: 34px;
  height: 19px;
  opacity: 1;
  color: #96989b;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.second-form-container {
  display: flex;
  flex-direction: column;
  width: 1324px;
  height: 256px;
  gap: 24px;
}
.tabs {
  display: flex;
  width: 531px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid #ececed;
  gap: 8px;
  padding: 4px;
}
.additional-info {
  display: flex;
  align-items: center;
  width: 187px;
  height: 40px;
  border-radius: 8px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
}
.additional-info a {
  display: flex;
  width: 163px;
  height: 22px;
  text-decoration: none;
  color: #78797d;
  font-family: Nunito Sans;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
.address {
  display: flex;
  align-items: center;
  width: 84px;
  height: 40px;
  border-radius: 12px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
  /* background-color: #4b7bff; */
}
.address a {
  width: 60px;
  height: 22px;
  text-decoration: none;
  color: #78797d;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}
.contact-person {
  display: flex;
  align-items: center;
  width: 141px;
  height: 40px;
  border-radius: 12px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
}
.contact-person a {
  width: 117px;
  height: 22px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #78797d;
}
.contact-person.active {
  background-color: #4b7bff;
  /* color: white; */
}
.active a {
  color: white;
}
.remarks {
  display: flex;
  align-items: center;
  width: 87px;
  height: 40px;
  border-radius: 12px;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 12px;
}
.remarks a {
  width: 63px;
  height: 22px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #78797d;
}

.satu {
  width: 1324px;
  height: 200px;
  /* angle: 0 deg; */
  /* transform: rotate(0deg); */
  opacity: 1;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid #ececed;
  padding: 24px;
}
.fields {
  display: flex;
  width: 1276px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
  /* gap: 24px; */
}
.salutation {
  width: 149px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
  display: flex;
  flex-direction: column;
  /* background-color: #b8c1db; */
}
#salutation {
  display: flex;
  width: 149px;
  height: 56px;
  background-color: #f9fafc;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top-left-radius: 12px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  color: #525356;
}
.select {
  width: 149px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom-left-radius: 12px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.optionss {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 101px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
}
#select-text {
  width: 41px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #85878b;
}
#select-icon {
  width: 16px;
  height: 16px;
  /* angle: 0 deg; */
  opacity: 1;
}
.first-name {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
#first-name {
  display: flex;
  width: 165px;
  height: 56px;
  background-color: #f9fafc;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  color: #525356;
}
.name-input {
  width: 165px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.input {
  display: flex;
  align-items: center;
  width: 117px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #ececed;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
}
#input-text {
  width: 85px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #85878b;
  border: none;
}

.last-name {
  display: flex;
  flex-direction: column;
  width: 165px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
#last-name {
  display: flex;
  width: 165px;
  height: 56px;
  background-color: #f9fafc;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  color: #525356;
}
.name-input-last {
  width: 165px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.input-last-name {
  display: flex;
  align-items: center;
  width: 117px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #ececed;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
}
#input-text-last {
  width: 85px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #85878b;
  border: none;
}
.email {
  width: 265px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
#email-addrs {
  display: flex;
  width: 265px;
  height: 56px;
  background-color: #f9fafc;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  color: #525356;
}
.email-address {
  width: 265px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.email-input {
  display: flex;
  align-items: center;
  width: 217px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
  background-color: #ffffff;
}
#email-address-text {
  width: 185px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #85878b;
  border: none;
}
.phone-number {
  width: 277px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
#phone-no {
  display: flex;
  width: 277px;
  height: 56px;
  background-color: #f9fafc;

  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  color: #525356;
}
.phone-num {
  display: flex;
  width: 277px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.phone-number-input {
  display: flex;
  align-items: center;
  width: 229px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid #dededf;
  padding-top: 14px;
  padding-right: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
}
#flag {
  width: 16.0009765625px;
  height: 12px;
  /* angle: 0 deg; */
  opacity: 1;
}
#option-for-number {
  display: flex;
  width: 50px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 6px;
  /* border: 1px solid #C6C8CA; */
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  color: #c6c8ca;
  border: none;
}
.line {
  width: 1px;
  height: 16px;
  /* angle: 0 deg; */
  opacity: 1;
  color: #d9d9d9;
}
#phone-number-text {
  width: 52px;
  height: 19 px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: none;
  color: #96989b;
}
.designation {
  width: 193px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
#designation-label {
  display: flex;
  width: 193px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-top: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  background-color: #f9fafc;
  color: #525356;
}
.designation-class {
  width: 193px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
}
.designation-input {
  display: flex;
  align-items: center;
  width: 145px;
  height: 40px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #ececed;
  padding-top: 18px;
  padding-right: 16px;
  padding-bottom: 18px;
  padding-left: 16px;
}
#designation-text {
  width: 113px;
  height: 19px;
  /* angle: 0 deg; */
  opacity: 1;
  font-family: Nunito Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  /* leading-trim: NONE; */
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  border: none;
  color: #85878b;
}
.delete {
  width: 62px;
  height: 112px;
  /* angle: 0 deg; */
  opacity: 1;
}
.empty-label {
  display: flex;
  width: 62px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border: 1px solid #ececed;
  padding-top: 19px;
  padding-right: 24px;
  padding-bottom: 19px;
  padding-left: 24px;
  border-top-right-radius: 12px;
  background-color: #f9fafc;
}
.delete-box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 62px;
  height: 56px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-right: 1px solid #ececed;
  border-bottom: 1px solid #ececed;
  border-left: 1px solid #ececed;
  padding-top: 8px;
  padding-right: 24px;
  padding-bottom: 8px;
  padding-left: 24px;
  border-bottom-right-radius: 12px;
}
.delete-input {
  display: flex;
  width: 24px;
  height: 24px;
  /* angle: 0 deg; */
  opacity: 1;
}
#del-icon {
  width: 18.6px;
  height: 21.5px;
  /* angle: 0 deg; */
  opacity: 1;
  top: 1.2px;
  left: 2.68px;
  color: #c6c8ca;
}

.add-contact-person {
  display: flex;
  width: 160px;
  height: 32px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  border-radius: 8px;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 12px;
}
.add-contact {
  display: flex;
  align-items: center;
  width: 136px;
  height: 20px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  text-wrap: nowrap;
}
#add-person-icon {
  width: 20px;
  height: 20px;
  /* angle: 0 deg; */
  opacity: 1;
  color: #4b7bff;
}
#add-person-text {
  display: flex;
  width: 108px;
  height: 16px;
  /* angle: 0 deg; */
  opacity: 1;
  gap: 8px;
  font-family: Nunito Sans;
  font-weight: 400;
  font-style: medium;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #4b7bff;
  text-decoration: none;
}

.btn {
  display: flex;
  width: 188px;
  height: 48px;
  /* top: 952px; */
  /* left: 1155px; */
  /* margin: 142px; */
  justify-content: flex-end;
  /* padding: 90px; */
  padding-top: 120px;
  /* padding-bottom: 16px; */
  padding-left: 1317px;
  /* padding-right: 8px; */
  gap: 8px;
  /* margin: 65px; */
}

.cancel-btn {
  display: flex;
  align-items: center;
  width: 97px;
  height: 48px;
  gap: 8px;
  border-radius: 8px;
  border: 2px solid #dededf;
  padding-right: 24px;
  padding-left: 24px;
  gap: 8px;
  color: #96989b;
  background-color: #ffffff;
}
.save-btn {
  width: 83px;
  height: 48px;
  gap: 8px;
  border-radius: 8px;
  padding-right: 24px;
  padding-left: 24px;
  border: none;
  color: #ffffff;
  background-color: #4b7bff;
  gap: 8px;
  text-wrap: nowrap;
}
